.App {
  text-align: center;
  background-color: #1e555c;
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 50%;
}

.Website-title {
  font-size: 59px;
  color: white;
  font-family: Georgia;
}

.length-time-counter {
  font-size: 29px;
  color: white;
  font-family: Georgia;
}

.length-time-descriptor {
  font-size: 39px;
  color: white;
  font-family: Georgia;
}
